<div class="container text-center">
	<div class="index-image-overlay"></div>
	<div class="row whiteBG">
		<img id="deerBurger" src="../public/assets/images/deerBurgerSMsq.jpg" alt="Deer Burger">
		<h1>Eat Some Burgers!</h1>

		<p>Enter a burger you want to eat, then click submit.</p>

		<form action="/burgers" method="POST">
			<input id="burgerInput" type="text" name="burger_name" placeholder="Big Fat n Juicy" maxlength="120">
			<br>
			<input class="btn btn-primary" type="submit" value="Submit!">
		</form>
		<div class="row">
			<div class="col-lg-5 colWhite" id="AvailBurgs">
				<h3>Burgers to Eat</h3>
				<p>Click a Burger to Eat It</p>
				{{#each burgers}} {{#unless this.devoured}}
				<form action="/burgers/{{this.id}}?_method=PUT&devoured={{this.devoured}}" method="POST">
					<button type="submit" class="burgerBtn">{{this.burger_name}}</button>
				</form>
				{{!-- TODO: Figure out delete button --}}
				{{!-- <form action="/burgers/{{this.id}}?_method=DELETE" method="DELETE">
				<button class="deleteBurger btn btn-xs btn-danger" style="display: inline;">x</button>
				</form> --}}
				{{/unless}} {{/each}}
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-5 colWhite" id="eatenBurgs">
				<h3>Burgers You Ate</h3>
				<p>Click a Burger to Un-eat It</p>
				{{#each burgers}} {{#if this.devoured}}
				<form action="/burgers/{{this.id}}?_method=PUT&devoured={{this.devoured}}" method="POST">
					<button type="submit" class="burgerBtn">{{this.burger_name}}</button>
				</form>
				{{/if}} {{/each}}
			</div>
		</div>
	</div>
</div>